# Игнорировать общие системные файлы
*.log
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Игнорировать файлы SQLite базы данных
db.sqlite3
*.sqlite3

# Игнорировать виртуальное окружение Python
venv/
env/

# Игнорировать миграции базы данных
*/migrations/
*/migrations/*.py
*/migrations/*.pyc

# Игнорировать файлы для Django
*.DS_Store
media/
static/

# Игнорировать файлы для React
node_modules/
build/

# Игнорировать конфигурационные файлы IDE и системы
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Игнорировать зависимости pipenv или poetry
Pipfile.lock
poetry.lock

# Игнорировать файлы тестов и кэшей
.coverage
.tox/
.cache/
pytest_cache/
